<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
        <springProperty scope="context" name="logLevel" source="log.level"/>
        <springProperty scope="context" name="logPath" source="log.path"/>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
            </encoder>
        </appender>

        <appender name="FILE-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}/xxx.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logPath}/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
                <!-- 30 days -->
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <root level="${logLevel}">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE-OUT" />
        </root>
</configuration>

