<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwb.alipay.mapper.UserMapper" >


    <select id="selectOne" resultType="com.xwb.security.model.User" parameterType="java.lang.Long">
        select * from user WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.xwb.security.model.User" >
        select * from user
    </select>


    <select id="findByUsername" resultType="com.xwb.security.model.User" parameterType="java.lang.String">
        select * from user where user.name = #{name}
    </select>


    <insert id="insert" parameterType="com.xwb.security.model.User" useGeneratedKeys="true" keyProperty="id"  >
        INSERT INTO USER
        (name,age)
        values (#{name},#{age})
    </insert>



</mapper>